<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Inter%3Awght%40400%3B500%3B700%3B900&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"
    />

    <title>Stitch Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div
      class="relative flex size-full min-h-screen flex-col bg-[#141414] dark group/design-root overflow-x-hidden"
      style="--select-button-svg: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724px%27 height=%2724px%27 fill=%27rgb(171,171,171)%27 viewBox=%270 0 256 256%27%3e%3cpath d=%27M181.66,170.34a8,8,0,0,1,0,11.32l-48,48a8,8,0,0,1-11.32,0l-48-48a8,8,0,0,1,11.32-11.32L128,212.69l42.34-42.35A8,8,0,0,1,181.66,170.34Zm-96-84.68L128,43.31l42.34,42.35a8,8,0,0,0,11.32-11.32l-48-48a8,8,0,0,0-11.32,0l-48,48A8,8,0,0,0,85.66,85.66Z%27%3e%3c/path%3e%3c/svg%3e'); font-family: Inter, &quot;Noto Sans&quot;, sans-serif;"
    >
      <div class="layout-container flex h-full grow flex-col">
        <header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#303030] px-10 py-3">
          <div class="flex items-center gap-4 text-white">
            <div class="size-4">
              <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 6H42L36 24L42 42H6L12 24L6 6Z" fill="currentColor"></path></svg>
            </div>
            <h2 class="text-white text-lg font-bold leading-tight tracking-[-0.015em]">BookCrafters</h2>
          </div>
          <div class="flex flex-1 justify-end gap-8">
            <div class="flex items-center gap-9">
              <a class="text-white text-sm font-medium leading-normal" href="#">Home</a>
              <a class="text-white text-sm font-medium leading-normal" href="#">Services</a>
              <a class="text-white text-sm font-medium leading-normal" href="#">Portfolio</a>
              <a class="text-white text-sm font-medium leading-normal" href="#">About</a>
              <a class="text-white text-sm font-medium leading-normal" href="#">Contact</a>
            </div>
            <button
              class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 px-4 bg-black text-white text-sm font-bold leading-normal tracking-[0.015em]"
            >
              <span class="truncate">Get a Quote</span>
            </button>
          </div>
        </header>
        <div class="gap-1 px-6 flex flex-1 justify-center py-5">
        <div class="flex flex-wrap justify-between gap-3 p-4"><p class="text-white tracking-light text-[32px] font-bold leading-tight min-w-72">Configure Your Book</p></div>
        
          <div class="layout-content-container flex flex-col max-w-[600px] flex-1">
            <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
              <label class="flex flex-col min-w-40 flex-1">
                <form method="POST" action="/generate">
                <p class="text-white text-base font-medium leading-normal pb-2">Book Type</p>
                <select name="book_type_values"
                  class="form-input flex w-full min-w-500 flex-1 resize-none overflow-hidden rounded-xl text-white focus:outline-0 focus:ring-0 border border-[#474747] bg-[#212121] focus:border-[#474747] h-14 bg-[image:--select-button-svg] placeholder:text-[#ababab] p-[15px] text-base font-normal leading-normal"
                    >{% for option in book_type_options %}
                    <option value="{{ option }}">{{ option }}</option>
                    {% endfor %}
                </select>
              </label>
            </div>
            <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
                
              <label class="flex flex-col min-w-40 flex-1">
                <p class="text-white text-base font-medium leading-normal pb-2">Trim Size Inches</p>
                <select name = "trim_options"
                  class="form-input flex w-full min-w-500 flex-1 resize-none overflow-hidden rounded-xl text-white focus:outline-0 focus:ring-0 border border-[#474747] bg-[#212121] focus:border-[#474747] h-14 bg-[image:--select-button-svg] placeholder:text-[#ababab] p-[15px] text-base font-normal leading-normal"
                > {% for option in trim_options %}
                  <option value="{{ option }}">{{ option }}</option>
                  {% endfor %}
                </select>
              </label>
            </div>
            <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
              <label class="flex flex-col min-w-40 flex-1">
                <p class="text-white text-base font-medium leading-normal pb-2">Size Type</p>
                <select name = "size_type_values"
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-white focus:outline-0 focus:ring-0 border border-[#474747] bg-[#212121] focus:border-[#474747] h-14 bg-[image:--select-button-svg] placeholder:text-[#ababab] p-[15px] text-base font-normal leading-normal"
                >   {% for option in size_type_options %}
                    <option value="{{ option }}">{{ option }}</option>
                    {% endfor %}
                </select>
              </label>
            </div>
            <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
              <label class="flex flex-col min-w-40 flex-1">
                <p class="text-white text-base font-medium leading-normal pb-2">Color Type</p>
                <select name="color_type_values"
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-white focus:outline-0 focus:ring-0 border border-[#474747] bg-[#212121] focus:border-[#474747] h-14 bg-[image:--select-button-svg] placeholder:text-[#ababab] p-[15px] text-base font-normal leading-normal"
                    >{% for option in color_type_options %}
                    <option value="{{ option }}">{{ option }}</option>
                    {% endfor %}
                </select>
              </label>
            </div>
            <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
              <label class="flex flex-col min-w-40 flex-1">
                <p class="text-white text-base font-medium leading-normal pb-2">Print Type</p>
                <select name="print_type_values"
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-white focus:outline-0 focus:ring-0 border border-[#474747] bg-[#212121] focus:border-[#474747] h-14 bg-[image:--select-button-svg] placeholder:text-[#ababab] p-[15px] text-base font-normal leading-normal"
                    >{% for option in print_type_options %}
                    <option value="{{ option }}">{{ option }}</option>
                    {% endfor %}
                </select>
              </label>
            </div>
            <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
              <label class="flex flex-col min-w-40 flex-1">
                <p class="text-white text-base font-medium leading-normal pb-2">Bind Type</p>
                <select name="bind_type_values"
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-white focus:outline-0 focus:ring-0 border border-[#474747] bg-[#212121] focus:border-[#474747] h-14 bg-[image:--select-button-svg] placeholder:text-[#ababab] p-[15px] text-base font-normal leading-normal"
                    >{% for option in bind_type_options %}
                    <option value="{{ option }}">{{ option }}</option>
                    {% endfor %}
                </select>
              </label>
            </div>
          </div>
          <div class="layout-content-container flex flex-col w-[600px]">
            <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
              <label class="flex flex-col min-w-40 flex-1">
                <p class="text-white text-base font-medium leading-normal pb-2">Paper Type</p>
                <select name="paper_type_values"
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-white focus:outline-0 focus:ring-0 border border-[#474747] bg-[#212121] focus:border-[#474747] h-14 bg-[image:--select-button-svg] placeholder:text-[#ababab] p-[15px] text-base font-normal leading-normal"
                    >{% for option in paper_type_options %}
                    <option value="{{ option }}">{{ option }}</option>
                    {% endfor %}
                </select>
              </label>
            </div>
            <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
              <label class="flex flex-col min-w-40 flex-1">
                <p class="text-white text-base font-medium leading-normal pb-2">PPI SKU</p>
                <select name="ppi_sku_options"
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-white focus:outline-0 focus:ring-0 border border-[#474747] bg-[#212121] focus:border-[#474747] h-14 bg-[image:--select-button-svg] placeholder:text-[#ababab] p-[15px] text-base font-normal leading-normal"
                    >{% for option in ppi_sku_options %}
                    <option value="{{ option }}">{{ option }}</option>
                    {% endfor %}
                </select>
              </label>
            </div>
            <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
              <label class="flex flex-col min-w-40 flex-1">
                <p class="text-white text-base font-medium leading-normal pb-2">Finish Type</p>
                <select name="finish_type_options"
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-white focus:outline-0 focus:ring-0 border border-[#474747] bg-[#212121] focus:border-[#474747] h-14 bg-[image:--select-button-svg] placeholder:text-[#ababab] p-[15px] text-base font-normal leading-normal"
                    >{% for option in finish_type_options %}
                    <option value="{{ option }}">{{ option }}</option>
                    {% endfor %}
                </select>
              </label>
            </div>
            <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
              <label class="flex flex-col min-w-40 flex-1">
                <p class="text-white text-base font-medium leading-normal pb-2">Cover Option</p>
                <select name="cover1_options"
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-white focus:outline-0 focus:ring-0 border border-[#474747] bg-[#212121] focus:border-[#474747] h-14 bg-[image:--select-button-svg] placeholder:text-[#ababab] p-[15px] text-base font-normal leading-normal"
                    >{% for option in cover1_options %}
                    <option value="{{ option }}">{{ option }}</option>
                    {% endfor %}
                </select>
              </label>
            </div>
            <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
              <label class="flex flex-col min-w-40 flex-1">
                <p class="text-white text-base font-medium leading-normal pb-2">Foil Type</p>
                <select name="foil_type_options"
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-white focus:outline-0 focus:ring-0 border border-[#474747] bg-[#212121] focus:border-[#474747] h-14 bg-[image:--select-button-svg] placeholder:text-[#ababab] p-[15px] text-base font-normal leading-normal"
                    >{% for option in foil_type_options %}
                    <option value="{{ option }}">{{ option }}</option>
                    {% endfor %}
                </select>
              </label>
            </div>
            <div class="flex px-4 py-3 justify-end">
              <p class="text-white tracking-light text-[15px] font-bold leading-tight min-w-72">{{ message }}</p>
              <button
                class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 px-4 bg-black text-white text-sm font-bold leading-normal tracking-[0.015em]"
              ></form><br>
                <span class="truncate">Submit Configuration</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
